/* affichage */

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* effet de texte */

@mixin no-list {
  list-style-type: none;
}
